{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
      "camelcase": [0],
      "no-console": [2, { allow: ["warn", "error"] }]
  }
}
